/* --- Variables --- */
:root {
    --c-backgroundSetting: #ededed;
    --c-font: #000;
    --c-backgroundHover: lightskyblue;
    --c-fontHover: #fff;
}


/* --- Body --- */
.setting-container {}

.setting-top-bar {}

.top-bar-title {
    font-size: 50px;
    font-weight: 700;
}

.top-bar-items {
    display: flex;
    /* gap: 3px; */
    margin: 30px 0px;
}

.link_ {
    display: flex;
    justify-content: center;
    background-color: var(--c-backgroundSetting);
    color: var(--c-font);
    font-size: 18px;
    font-weight: 600;
    margin: 5px;
    padding: 5px;
    width: calc(10% * 2);
}

.link_-text {}

.active {
    background-color: var(--c-backgroundHover);
    color: var(--c-fontHover);
}