.top-section-main {
    z-index: 1;
    position: fixed;
    top: 0;
    margin-left: 0;
    border-bottom: 1px solid #ebe6df;
    background-color: #FCFBF9;
}

.top-section-main-title {
    font-size: 30px;
}